{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
   "rules": {
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-quotes": ["error", "prefer-single"]
   },
   "plugins": [
     "react",
     "jsx-a11y",
     "import"
   ]
}